{% extends 'mailing/base.html' %}

{% block content %}
    <h2>Mailing List</h2>
    <ul>
        {% if user.is_authenticated %}
            <div class="col-12 mb-5">
                <a class="btn btn-outline-primary" href="{% url 'mailing:create_mailing' %}">Добавить запись</a>
            </div>
        {% endif %}
        {% for mailing in mailings %}
            <li>
                <a href="{% url 'mailing:mailing_detail' mailing.pk %}">{{ mailing.start_time }} - {{ mailing.end_time }}</a>
                {% if mailing.owner == user or user.is_superuser or 'Managers' in user_group_names %}
                    <a class="btn btn-outline-primary" href="{% url 'mailing:delete_mailing' mailing.pk %}">Удалить</a>
                    <a class="btn btn-outline-primary" href="{% url 'mailing:update_mailing' mailing.pk %}">Редактировать</a>
                    <form method="post" action="{% url 'mailing:mailing_toggle_status' mailing.pk %}" style="display: inline;">
                        {% csrf_token %}
                        {% if mailing.status == 'started' %}
                            <button type="submit" name="action" value="deactivate" class="btn btn-warning btn-sm">Остановить</button>
                        {% else %}
                            <button type="submit" name="action" value="activate" class="btn btn-success btn-sm">Запустить</button>
                        {% endif %}
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
